# Java / Maven
target/
*.class
*.jar
*.war

# Spring
*.env
application-local.properties

# IDE
.idea/
*.iml
.vscode/

# Angular
aulio-web/node_modules/
aulio-web/dist/
aulio-web/.angular/

# OS
.DS_Store
Thumbs.db